{%extends 'base.html'%}
{% block content %}
<div class="container" >
  <div class="row">
    <div class=" col-md-1"></div>
    <div class=" col-lg-9 text-center" style="height: 500px; ">
      <div class="panel" style="height:450px;">
        <div class="panel-body">
          <a href="{% url 'allProjects' id=project.id %}">
            <img class="img-responsive" src="{{project.image.url}}" style="height:450px;width:100%;">
          </a>
          <div class="panel-footer">
            <div class="text"> <b>Application Name:</b>{{project.title}}</div>
            <br>
            <div>
              <a href="{{project.link}}" class="btn btn-info">View</a>
              <a href="{% url 'review' project_id=project.id%}" class="btn btn-info">Rate</a>
            </div>
            <br>
            <p><b>Posted By: </b>{{project.user}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <br>
  <br>
</div>

<div class="container" style="margin-top:100px; background-color: black; color: white;">
  <div class="row">
    <div class=" col-md-1"></div>
    <div class="container col-md-9">
      <table class="table table-dark  ">
        <thead>
          <tr>
            <th scope="col">Reviewer</th>
            <th scope="col">Design</th>
            <th scope="col">Usability</th>
            <th scope="col">Content</th>
            <th scope="col">Average</th>
          </tr>
        </thead>
        <tbody>
          {% for review in reviews %}
          <tr>
            {% if project.id == review.project.id %}
            <!-- <th scope="row"></th> -->
            <td>{{review.user.username}}</td>
            <td>{{review.design}}</td>
            <td>{{review.usability}}</td>
            <td>{{review.content}}</td>
            <td>{{review.average}}</td>
          </tr>
          {%endif%}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}